<!DOCTYPE html>
<h1>Login</h1>

<form action="/login" method="POST">
  
    <div>
        <label for= "email"> Email </label>  
        <input type="text" id="email" email="email" required> 
      </div>
      <div>
        <label for= "password"> Password </label>  
        <input type="text" id="Password" password="password" required> 
      </div>
      <button type="submit">Login</button>
</form>

<br>
<a href="/register">Register</a>